__pycache__
data
__pycache__/*
IGNORE/*
main.py
ohlcv.csv
test.py
compare_algorizer.py
compare_calcseries.py
BOL.py
config.json
.vscode/settings.json
charts.html
*.svn-base
*.svn
strat.py
GEMINI.md
short.py
